<div class="container-fluid  d-flex align-items-center mb-5 py-5" id="home" style="min-height: 100vh;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 pl-lg-0 pb-5 pb-lg-0">
                <img class="img-fluid w-100  shadow-sm" src="assets/logo.svg" alt="">
            </div>
            <div class="col-lg-7 text-center text-lg-left">
                <div class=" align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a href="home" class="btn btn-outline-dark mr-8">Comenzemos</a>
                </div>
            </div>
        </div>
    </div>
</div>
